<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ViewLayer.Properties.Settings.dbBusinessConnectionString"
            connectionString="Data Source=pedro-PC\sqlexpress;Initial Catalog=dbBusiness;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>